extends layout

block content
  div(class='container')
    div(class='jumbotron' id='jumbotronHome')
      h1 Welcome to Website Deets! 
      p Here you can enter in any website or IP and get its location information.
      hr(class='my-2')
      form(action='/search')
        div(class='form-group')
          label(for='q') Get Deets:
          input(class='form-control' type='search' placeholder='Website or IP' id='q' name='q')
        button(class='btn btn-outline-success' type='submit') Search

